/*全体共通*/
body {

    font-family: "Noto Serif JP", serif;
    font-weight: 200;
    background-color: #181619;

}
/*ヘッダー*/
header
{
    color: #ffffff;
}
header .row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  
    max-width: 1280px;
    padding: 20px 0;
}
header .logo
{
    font-size: 24px;
    font-weight:bold;
}
header nav ul
{
    display: flex;
}
header nav ul li
{
    margin-left: 50px;
    
}

/*メインビジュアル*/
.main_visual
{
    background-image: url('../images/mv.jpg');/*背景に画像を使います*/
    background-size: cover;/*背景画像を全体に広げる*/
    background-position: center top;
    position: relative;
}
.main_visual .container
{
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
    height: 640px;
    position: relative;
}
.main_visual .title
{
    position: absolute;/*自由に位置を設定*/
    bottom: 100px;
    left: 0;
    z-index: 2;/*2番目に奥*/
    
}
.main_visual h1
{
    font-size: 45px;
    font-weight: 700px;
    color: #ffffff;
    margin-bottom: 24px;
}
.main_visual p
{
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    position: absolute;
    left: 5vw;
    
}
.main_visual .purple
{
    background-color: #6f19a7;
    width: 100%;
    height: 100%;
    position: absolute;
    top :0;
    left:0;
    z-index: 1;/*一番奥*/
     /* opacity: 0.5;  半分透明になる */
    mix-blend-mode: multiply;
}
/* セクション➀ */
.section1
{
    color: #ffffff;
    padding: 80px 0 ;
   
}
.section1 .container
{
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}
.section1 .row
{
    display: flex;
    justify-content: space-between;
}
.section1 .col
{
    width: 48%;
    
}
.section1 .sub_title
{
    font-size:20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.section1 h2
{
    font-size: 32px;
    font-weight: 700;
    line-height: 2
    ;

}
.section1 .text
{
    font-size: 16px;
    line-height: 1.8;
    padding-top: 50px;
    padding-bottom: 50px;
    padding: 50px 0;
}
.section1 .btn
{
    font-size: 18px;
    border: solid 1px #ffffff;
    border-radius: 100px;
    display:inline-block;
    width: 270px;
    line-height: 60px;
    text-align: center;
    transition: .2s;
}
.section1 .btn:hover
{
    color: aqua;
    border: solid 1px aqua;
    transition: .2s;
}
/*要素ごとに異なる太さを設定する*/
h1 {
    font-weight: 600;
}

p {
    font-weight: 400;
}